:root {
  --background: #153489;
  --foreground: #ffffff;
  --accent: #5ea5ee;
}


body {
  font-family: "JetBrains Mono", "Fira Code", Monaco, Consolas, "Ubuntu Mono", monospace;
}

pre {
  font-variant-ligatures: none;
}


ul.menu__dropdown, ul.menu__dropdown * {
  word-break: initial;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.footer .links {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
}